
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  list-style-type: none;
}

a, a:hover {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}
